/* Variables */
$header-height: 40px;

/**
 * Header
 *
 * Left: Back button
 * Mid: Title
 * Right: Settings button
 */
#x💀x{
    background-color: $c-green;
    color: $c-white;

    width: 100%;
    height: $header-height;
    position: fixed;
    z-index: 10;

    .title{
        color: $c-white;
        font-weight: bolder;
        font-size: 21px;
        line-height: $header-height;
        text-align: center;

        display: block;
        margin: 0 auto;
    }

    .button{
        height: $header-height;
        width: $header-height;

        display: block;
        position: absolute;
        top: 0;
    }

    .button::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left:0;
    }

    .button.left{
        left: 0;
        padding: 10px 0 10px 10px;
    }

    .button.left:active path{
        fill: $c-green-dark;
    }

    .button.right{
        right: 0;
        padding: 10px;
    }

    .button.right:active{
        background-color: $c-green-darker;
        path{
            fill: $c-green;
        }
    }

    .settings.open{
        height: 100vh;

        @include vendor-prefixes(transition, height 0s ease 0s);

        .content{
            right: 0;
            @include vendor-prefixes(transition, 0.5s ease all);
        }
    }

    .settings.open::after{
        background-color: rgba(0,0,0,0.6);
    }

    .settings::after{
        content: "";
        background-color: rgba(0,0,0,0);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;

        @include vendor-prefixes(transition, background-color 0.5s ease 0s);
    }

    .settings{
        position: relative;
        height: 0;
        width: 100%;

        @include vendor-prefixes(transition, height 0s ease 0.5s);

        .content{
            position: absolute;
            right: -100%;
            height: 100vh;
            width: 222px;
            max-width: 100%;
            padding: 15px 0 0 15px;

            @include vendor-prefixes(transition, 0.5s ease all);

            background-color: $c-green-darker;

            font-size: 14px;
            font-weight: 100;

            h6{
                font-family: $text-font-stack;
                font-size: 12px;
                border-bottom: solid 1px $c-green;
                margin-bottom: 10px;
            }

            /* HTML5 Boilerplate accessible hidden styles */
            [type="radio"] {
                border: 0;
                clip: rect(0 0 0 0);
                height: 1px; margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            /* One radio button per line */
            label.radio {
                display: block;
                cursor: pointer;
                line-height: 2.5;
            }

            [type="radio"] + span {
                display: block;
            }

            /* the basic, unchecked style */
            [type="radio"] + span:before {
                content: '';
                display: inline-block;
                width: 1em;
                height: 1em;
                vertical-align: -0.25em;
                border-radius: 1em;
                border: 0.125em solid white;
                margin-right: 0.75em;
                transition: 0.5s ease all;
            }

            /* the checked style using the :checked pseudo class */
            [type="radio"]:checked + span:before {
                background: white;
                box-shadow: 0 0 0 0.25em $c-green-darker;
            }

        }
    }
}
