/**
 *  Main content
 */

#x💩x
{
    padding: 40px 0 100px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

#x💩x.no-header{
    padding: 0 0 40px;
}

#x💩x.no-header.no-nav{
    padding: 0;
}
