<header id="x💀x">
    <h1 class="title">Cart</h1>
</header>

<main id="x💩x" class="">

  <p class="center" ng-show="vm.cart().items.length == 0">
    Je winkelwagen is leeg
  </p>

  <!-- Product list -->
  <article class="product" ng-repeat="product in vm.cart().items">
    <section class="add-to-cart">
        <p class="amount">{{ vm.product(product.item.id).amount }}</p>
        <section class="buttons">
            <a href class="add" ng-click="vm.product(product.item.id).add()">+</a>
            <a href class="subtract" ng-click="vm.product(product.item.id).subtract()">-</a>
        </section>
    </section>
    <section class="info">
        <h1 class="name">{{ product.item.name }}</h1>
        <p ng-if="product.item.promoted" class="price promoted"><strike>€{{ product.item.price }}</strike> €{{ product.item.promoted_price }}</p>
        <p ng-if="!product.item.promoted" class="price">€{{ product.item.price }}</p>
    </section>
  </article>

  <section class="afrekening" ng-show="vm.cart().items.length > 0">
      <table>
        <tr>
          <td>Totaal</td>
          <td>€ {{ vm.cart().total() | number:2 }}</td>
        </tr>
      </table>

      <textarea rows="3" placeholder="Opmerkingen" ng-model="vm.checkout.note"></textarea>

      <button class="btn icon full" ng-click="vm.order()">
          Plaats bestelling
          <i>
              <svg preserveAspectRatio="xMidYMid meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 64 48.311" enable-background="new 0 0 64 48.311" xml:space="preserve">
              <g>
                <polygon fill="#FFFFFF" points="24.474,48.311 0,23.844 8.798,15.042 24.474,30.711 55.181,0 63.98,8.8 	"/>
              </g>
              </svg>
          </i>
      </button>
  </section>

</main>
