<article class="product" ng-repeat="product in vm.$$ui.category(vm.$$ui.name).drinks">
    <section class="add-to-cart" ng-class="{counterzero: vm.product(product.id).amount == 0}">
        <p class="amount">{{ vm.product(product.id).amount }}</p>
        <section class="buttons">
            <a href class="add" ng-click="vm.product(product.id).add()">+</a>
            <a href class="subtract" ng-click="vm.product(product.id).subtract()">-</a>
        </section>
    </section>
    <section class="info">
        <h1 class="name">{{ product.name }}</h1>
        <p ng-if="product.promoted" class="price promoted"><strike>€{{ product.price }}</strike> €{{ product.promoted_price }}</p>
        <p ng-if="!product.promoted" class="price">€{{ product.price }}</p>
    </section>
</article>
