// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.page-dashboard{
    #x💩x{
        background-color: #E6E7E8;
        min-height: 100vh;
    }
}

#x💩x.page-dashboard{
    background-color: #E6E7E8;
    min-height: 100vh;
    .logo{
        padding: 40px 0;
        img{
            max-width: 70%;
            display: block;
            margin: 0 auto;
        }
    }
}

.page-oops{
    padding: 0 !important;
    .svg{
        width: 200px;
        max-width: 40vw;
        margin: 20vh auto 0;
    }
    h2{
        margin-top: 20px;
        padding: 0 10vw;
        font-size: 42px;
        font-weight: 500;
    }
    h4{
        margin-top: 80px;
        color: $c-red;
    }
}

.page-success{
    padding: 0 !important;
    background-color: $c-green;
    min-height: 100vh;
    .svg{
        width: 200px;
        max-width: 40vw;
        margin: 30vh auto 0;
    }
    h2{
        color: white;
        margin-top: 40px;
        padding: 0 10vw;
        font-size: 42px;
        font-weight: 500;
    }
}
