/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

.c-red{
    color: #F2706C !important;
}

.c-green{
    color: $c-green !important;
}

.c-blue{
    color: #00ADEF !important;
}
