<main id="x💩x" class="no-header">
    <div class="loader-wrapper" ng-show="vm.$$ui.categories().loading">
        <div class="loader"></div>
    </div>
    <!-- Categories list -->
    <ul class="categories" ng-show="vm.$$ui.categories().loading != true">
        <ng-repeat ng-repeat="category in vm.$$ui.categories()">
            <li style="background-image:url('http://www.mustachy.dev{{ category.image }}');"><a ng-href="#/drinks/{{ category.name }}">{{ category.name }}</a></li>
        </ng-repeat>
    </ul>
</main>
