<header id="x💀x">
    <a ng-href="/#/drinks" class="button left">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="100%" height="100%" viewBox="0 0 28.35 23.096" enable-background="new 0 0 28.35 23.096" xml:space="preserve" preserveAspectRatio="xMinYMin meet">
            <path fill="#5C9A8D" d="M26.905,0h-16.62C9.488,0,8.952,0.63,8.14,1.443L0,11.467l8.14,10.186c0.521,0.762,1.949,1.443,2.747,1.443
                h16.019c0.797,0,1.444-0.645,1.444-1.443V1.443C28.35,0.646,27.702,0,26.905,0z M18.159,16.053l-4.397-4.568l4.406-4.441
                l1.025,1.018L15.781,11.5l3.419,3.551L18.159,16.053z"/>
        </svg>
    </a>

    <h1 class="title">{{ vm.$$ui.name }}</h1>

    <a href id="toggle-settings" class="button right" ng-init="settings=-1" ng-click="settings = -settings">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="100%" height="100%" viewBox="0 0 19.409 19.41" enable-background="new 0 0 19.409 19.41" xml:space="preserve">
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#5C9A8D" d="M19.349,8.628C19.318,8.354,19,8.149,18.725,8.149
                c-0.889,0-1.678-0.521-2.01-1.33c-0.337-0.828-0.119-1.792,0.543-2.4c0.209-0.19,0.234-0.509,0.06-0.731
                c-0.456-0.578-0.974-1.101-1.538-1.553c-0.221-0.178-0.545-0.152-0.737,0.059c-0.577,0.641-1.617,0.879-2.42,0.544
                c-0.835-0.352-1.364-1.198-1.312-2.107c0.018-0.286-0.191-0.534-0.476-0.566c-0.726-0.084-1.457-0.086-2.184-0.006
                C8.37,0.09,8.161,0.333,8.171,0.615c0.031,0.9-0.501,1.731-1.329,2.07C6.048,3.009,5.017,2.773,4.439,2.137
                c-0.19-0.209-0.51-0.234-0.732-0.06c-0.581,0.456-1.11,0.979-1.57,1.552C1.958,3.852,1.984,4.174,2.195,4.366
                c0.676,0.613,0.894,1.586,0.543,2.422C2.403,7.585,1.574,8.099,0.626,8.099C0.318,8.089,0.1,8.296,0.065,8.576
                c-0.085,0.729-0.086,1.472-0.003,2.207c0.03,0.273,0.358,0.478,0.636,0.478c0.845-0.021,1.656,0.502,1.996,1.33
                c0.341,0.826,0.121,1.791-0.542,2.399c-0.208,0.192-0.235,0.51-0.059,0.733c0.451,0.572,0.969,1.096,1.535,1.553
                c0.223,0.18,0.545,0.154,0.739-0.059c0.58-0.643,1.619-0.879,2.418-0.545c0.838,0.352,1.365,1.197,1.313,2.107
                c-0.017,0.285,0.193,0.533,0.476,0.566c0.371,0.043,0.744,0.064,1.119,0.064c0.355,0,0.71-0.018,1.065-0.059
                c0.28-0.031,0.489-0.273,0.48-0.555c-0.032-0.9,0.501-1.732,1.328-2.07c0.798-0.326,1.825-0.088,2.403,0.547
                c0.191,0.209,0.508,0.234,0.732,0.061c0.58-0.455,1.107-0.977,1.569-1.553c0.179-0.221,0.153-0.545-0.058-0.736
                c-0.676-0.614-0.895-1.587-0.543-2.422c0.328-0.787,1.127-1.315,1.984-1.315l0.12,0.003c0.278,0.022,0.534-0.192,0.567-0.476
                C19.43,10.104,19.43,9.362,19.349,8.628L19.349,8.628z M9.721,12.964c-1.786,0-3.237-1.453-3.237-3.238
                c0-1.786,1.451-3.237,3.237-3.237c1.785,0,3.236,1.451,3.236,3.237C12.957,11.511,11.506,12.964,9.721,12.964L9.721,12.964z
                 M9.721,12.964"/>
        </svg>
    </a>
    <section class="settings" ng-class="{'open': settings == 1}">
        <section class="content">
            <h6>Rangschikken:</h6>
            <label class="radio" for="name">
                <input id="name" type="radio" name="sort" ng-model="vm.settings.sort" value="name"> <span>Naam</span>
            </label>

            <label class="radio" for="current_price">
                <input id="current_price" type="radio" name="sort" ng-model="vm.settings.sort" value="current_price"> <span>Prijs</span>
            </label>

            <label class="radio" for="promoted">
                <input id="promoted" type="radio" name="sort" ng-model="vm.settings.sort" value="promoted"> <span>Promoties</span>
            </label>
            <label class="switch">
              <input id="reverse" type="checkbox" name="reverse" ng-model="vm.settings.reverse">
              <div class="slider"></div>
            </label>
            <span>Oplopend</span>
        </section>
    </section>
</header>

<main id="x💩x">

    <div class="loader-wrapper" ng-show="vm.$$ui.categories().loading">
        <div class="loader"></div>
    </div>

    <!-- Product list -->
    <article class="product" ng-repeat="product in vm.$$ui.category(vm.$$ui.name).drinks | orderBy : vm.settings.sort : vm.settings.reverse == false">
        <section class="add-to-cart" ng-class="{counterzero: vm.product(product.id).amount == 0}">
            <p class="amount">{{ vm.product(product.id).amount }}</p>
            <section class="buttons">
                <a href class="add" ng-click="vm.product(product.id).add()">+</a>
                <a href class="subtract" ng-click="vm.product(product.id).subtract()">-</a>
            </section>
        </section>
        <section class="info">
            <h1 class="name">{{ product.name }}</h1>
            <p ng-if="product.promoted" class="price promoted"><strike>€{{ product.price }}</strike> €{{ product.promoted_price }}</p>
            <p ng-if="!product.promoted" class="price">€{{ product.price }}</p>
        </section>
    </article>

</main>
