// -----------------------------------------------------------------------------------
// This file contains all styles related to the overal layout of the site/application.
// -----------------------------------------------------------------------------------

#main-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    width: 100%;
}

#main{
    display: flex;
    flex-grow: 1;
    max-width: 100%;
    overflow: hidden;
    background-color: $c-white;
    width: 100%;
}

#main-nav{}

#main-content{
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
