// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

$square: 60px;

#header{
    display: flex;
    height: $square;
    min-height: $square;
    width: 100%;
    background-color: $brand-color;
    .logo{
        background-color: $c-green-darker;
        height: $square;
        width: $square;
        min-width: $square;
        max-width: $square;
        display: block;
        padding: 10px;
    }
    .toolbar{
        padding: 0 20px;
        width: 100%;
        position: relative;
        .title{
            line-height: $square;
            display: inline-block;
            margin: 0;
        }
        .options{
            position: absolute;
            top: 16px;
            right: 16px;
        }
        .btn-group.options.open .dropdown-toggle{
            box-shadow: none;
        }
    }
}

#main-nav{
    background-color: #D1D2D4;
    width: $square;
    min-width: $square;
    max-width: $square;
    min-height: 100px;
    padding: 20px 0;
}

.c-tab-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.c-tab{
    height: $square;
    width: 100%;
    a {
        display: block;
        padding: 15px;
    }
}

.c-tab.is-active{
    background-color: $c-green;
    border-right: 3px solid $c-green-darker;
    a {
        margin-right: -3px;
    }
}

#tab-cart{
    .count-wrapper{
        position: relative;
        display: block;
        margin: 0 auto;
        width: 25px;
    }
    .count{
        position: absolute;
        z-index: 10;
        left: 15px;
        bottom: 15px;
        display: block;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;

        padding: 2px 5px 0 6px;

        min-width: 20px;
        height: 20px;

        text-align: center;
        line-height: 17px;
        color: white;
        background-color: $c-red;
    }
}

.is-active{
    .liquid{
        fill: #F7931D;
    }
    .orange{
        fill: #ECDF7C;
    }
    .grey{
        fill: #F1F1F2;
    }
    .light{
        fill: #F0F0F0;
    }
    .dark{
        fill: #E0E0E0;
    }
    .head{
        fill: #FFE1B2; //E4E4E4
    }
    .head-shadow{
        fill: #FDC98E; //CECECE
    }
    .account-lightest{
        fill: #E5EBF0; //F2F2F2
    }
    .account-light{
        fill: #D0D7DC; //E0E0E0
    }
    .account-dark{
        fill: #555566; //242424
    }
}
