html {
    box-sizing: border-box;
    background-color: $c-white;
}

body{
    background: $c-white;
}

body::-webkit-scrollbar {
    display: none;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}
