.container {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
}

.row {
    width: 100%;
}

@include respond-to('medium') {
    .col-m-9 { width: 75%; }
    .col-m-8 { width: 66.66%; }
    .col-m-6 { width: 50%; }
    .col-m-4 { width: 33.33%; }
    .col-m-3 { width: 25%; }
}

@include respond-to('large') {
    .col-l-9 { width: 75%; }
    .col-l-8 { width: 66.66%; }
    .col-l-6 { width: 50%; }
    .col-l-4 { width: 33.33%; }
    .col-l-3 { width: 25%; }
}
