.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container{
    padding: 0 15px;
}

.container::after, .container::before{
    clear: both;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@include respond-below('medium') {
    .hide-mobile {
        display: none;
    }
}

@include respond-below('medium') {
    .hide-tablet {
        display: none;
    }
}

// /**
//  * Hide text while making it readable for screen readers
//  * 1. Needed in WebKit-based browsers because of an implementation bug;
//  *    See: https://code.google.com/p/chromium/issues/detail?id=457146
//  */
// .hide-text {
//   overflow: hidden;
//   padding: 0; /* 1 */
//   text-indent: 101%;
//   white-space: nowrap;
// }
//
// /**
//  * Hide element while making it readable for screen readers
//  * Shamelessly borrowed from HTML5Boilerplate:
//  * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
//  */
// .visually-hidden {
//   border: 0;
//   clip: rect(0 0 0 0);
//   height: 1px;
//   margin: -1px;
//   overflow: hidden;
//   padding: 0;
//   position: absolute;
//   width: 1px;
// }
