body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: 14px;
  font-size: 16px;
  font-weight: 300;
}

h1{
    font-family: $header-font-stack;
    color: $c-green;
    font-size: 42px;
    margin: 0;
}

h2{
    font-family: $header-font-stack;
    color: $c-red;
    margin: 0;
}

h3,h4,h5,h6{
    font-family: $text-font-stack;
    font-weight: 300;
    margin: 0;
}

p{
    line-height: 1.7em;
}

.center{
    text-align: center;
}
