<main id="x💩x" class="page-success">

    <section class="svg">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 118.647 89.588" enable-background="new 0 0 118.647 89.588" xml:space="preserve">
            <g>
            	<polygon fill="#FFFFFF" points="45.384,89.588 0,44.218 16.317,27.896 45.381,56.949 102.327,0 118.647,16.32 	"/>
            </g>
        </svg>
    </section>

    <h2 class="center">
        Verstuurd
    </h2>

</main>
