button {
    border: none;
    background-color: transparent;
}

.btn{
    background-color: $c-green;

    color: white;
    text-align: center;
    font-family: $header-font-stack;
    font-size: 14px;
    line-height: 32px;

    height: 35px;
    padding: 0 15px;
    @include vendor-prefixes(border-radius, 2px);
    border-bottom: solid 3px $c-green-darker;
}

.btn.full{
    width: 100%;
}

.btn.icon{
    padding-right: 47px;
    position: relative;

    i{
        @include vendor-prefixes(border-top-right-radius, 2px);
        background: $c-green-dark;
        height: 32px;
        width: 32px;
        padding: 0 8px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        svg{
            transform-origin: 0px 0px;
        }
    }
}
