.categories{
    ul {}
    li {
        background: $c-green url('http://www.biernet.nl/images/nieuws/12874-proost.jpg') no-repeat center top;
        background-size: cover;
        border-bottom: solid 1px white;
    }
    li a {
        background-color: RGBA(0,0,0,0.2);
        display: block;

        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
        font-family: $header-font-stack;
        font-weight: 400;
        font-size: 24px;
        line-height: 95px;
        color: white;
        text-align: center;
     }
}
