/* Variables */
$tabs-nav-height: 44px;

/**
 *  Bottom Tabs navigation
 */
#x👀x{
    height: $tabs-nav-height;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;

    background-color: $c-green-darker;

    ul li{
        display: block;
        height: $tabs-nav-height;
        width: 50%;
        padding: 7px 0;
        position: absolute;
        bottom: 0;

        list-style: none;
        list-style-type: none;
        list-style-position: inside;

        a{
            display: block;
            height: 100%;
        }
        a::before{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left:0;
            z-index: 10;
        }
    }

    #tab-drinks{
        left: 0;
        padding-right: 30px;
        a::before{
            right: 30px;
        }
    }
    #tab-dashboard{
        width: 60px;
        height: 60px;
        margin: 0 auto;
        position: relative;
        bottom: 16px;
        padding: 5px;
    }
    #tab-cart{
        right: 0;
        padding-left: 30px;
        padding-top: 12px;

        a::before{
            left: 30px;
        }
        .count-wrapper{
            position: relative;
            display: block;
            margin: 0 auto;
            width: 25px;
        }
        .count{
            position: absolute;
            left: 15px;
            bottom: 15px;
            display: block;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;

            padding: 2px 5px 0 6px;

            min-width: 20px;
            height: 20px;

            text-align: center;
            line-height: 1em;
            color: $c-green-darker;
            background-color: $c-grey-light;
        }
    }
    #tab-drinks:active, #tab-drinks.active{
        .liquid{
            fill: #F7931D;
        }
        .orange{
            fill: #ECDF7C;
        }
    }
    #tab-cart:active, #tab-cart.active{
        .count{
            background-color: #434854;
            color: $c-white;
        }
        .light{
            fill: #434854;
        }
        .dark{
            fill: #353944;
        }
    }
}

#x👀x::after{
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    z-index: -1;

    width: 60px;
    height: 60px;

    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: $c-green-darker;
}
