.panel{
    background-color: white;
    margin: 15px 0;

    .content{
        padding: 15px;
    }

    h2{
        color: $c-green;
        font-size: 12px;
        font-weight: normal;
        margin: 0 0 15px;
    }
}

.order{
    padding: 15px;
    border-bottom: solid 1px #EEE;

    h3{
        font-weight: bold;
        font-size: 0.7em;
    }

    .status{
        color: $c-grey;
    }

    .status.yellow{
        color: $c-yellow;
    }

    .status.green{
        color: $c-green;
    }
}
