article.product{

    padding: 20px 20px;
    border-bottom: solid 1px #EAEBEC;

    section.info{

        // CSS TRICK
        width: auto;
        overflow: hidden;
        float: none;
        height: 56px;

        .name{
            color: $text-color;
            font-family: $text-font-stack;
            font-size: 21px;
            font-weight: 400;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .price{
            font-size: 14px;
            font-weight: 400;
            color: $brand-color;
        }
        .price.promoted{
            font-size: 18px;
            color: $c-red;
            strike{
                font-size: 12px;
                color: $brand-color;
            }
        }
    }

    section.add-to-cart{
        display: inline-block;
        height: 100%;

        // CSS TRICK
        float: right;
        height: 56px;
        max-width: 100%;
        overflow: hidden;

        .amount{
            float: left;
            margin: 0;
            padding: 0 10px;
            margin-right: 10px;
            height: 56px;
            line-height: 56px;
            font-size: 32px;
            color: $brand-color;
        }
        .buttons{
            float: left;
            margin: auto 0;
            padding: 0;
            padding-left: 5px;
            height: 56px;
        }
        .add, .subtract{
            display: block;
            height: 24px;
            width: 24px;
            line-height: 20px;
            text-align: center;
            color:  $c-grey;
            border: solid 1px $c-grey;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
        .add{
            margin-bottom: 8px;
            line-height: 22px;
        }
    }
    section.add-to-cart.counterzero{
        .amount{
            display: none;
        }
        .add{
            margin: 16px 0;
        }
        .subtract{
            display: none;
        }
    }
}

article.product:last-child{
    border-bottom: none;
}

.afrekening{
    padding: 15px;
    table{
        width: 100%;
        font-size: 1.6em;
        margin-bottom: 40px;

        td:first-child{
            font-weight: 400;
        }

        td:last-child{
            text-align: right;
        }
    }
    .btn{
        margin-top: 15px;
    }
}
