.tabs-wrapper{
    .tabs-list{
        list-style-type: none;
        overflow: auto;

        li{
            display: inline-block;
            background-color: #F1F1F2;
            height: 32px;

            float: left;
            a{
                display: block;
                padding: 0 15px;
                
                color: $brand-color;
                line-height: 32px;
                font-size: 12px;
            }
        }
        li.active{
            background-color: white;
        }
        li::after, li::before{
            clear: both;
        }
    }
    .tabs-list::after, .tabs-list::before{
        clear: both;
    }

    .tab-content{
        background-color: white;
        display: none;
    }
    .tab-content.active{
        display: block;
    }
}
