// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', Helvetica, Arial, sans-serif !default;
/// Header font family
/// @type List
$header-font-stack: 'Work Sans', sans-serif;
/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


/// Copy text color
/// @type Color
$text-color: #404041 !default;

/// Main brand color
/// @type Color
$brand-color: #70B9A9 !default;


/// Primary colors
/// @type Color
$c-white:       #ffffff;
$c-green:       #70B9A9;
$c-green-dark:  #66A99B;
$c-green-darker:#5B998D;
$c-red:         #F37C6C;
$c-yellow:      #E2C466;

$c-grey-lighter:#EAEBEC;
$c-grey-light:  #EAEBEC;
$c-grey:        #BBBDC0;
$c-grey-dark:   #57585A;
$c-grey-darker: #57585A;
$c-grey-darkest:#57585A;



/// Container's maximum width
/// Below that is 100%
/// @type Length
$max-width: 1024px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'small': (min-width: 320px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
) !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-below
$breakpoints-max: (
  'small': (max-width: 320px),
  'medium': (max-width: 768px),
  'large': (max-width: 1024px),
) !default;





/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
