// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

#page-bar-edit{
    padding: 40px;
    .label-control{
        text-align: left;
    }
    .form-control{
        padding: 24px 12px;
    }
    .logo img{
        max-height: 200px;
        margin: 0 auto;
    }
}

@media (min-width: 768px){
    #page-bar-edit{
        .label-control{
            text-align: right;
        }
    }
}
