// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
    border: none;
    background-color: transparent;
}

.button {
    background-color: $c-green;
    color: #FFFFFF;
    text-align: center;
    font-family: $header-font-stack;
    font-size: 14px;
    line-height: 32px;

    height: 35px;
    padding: 1px 15px;
    margin: 0;
    @include vendor-prefixes(border-radius, 2px);
    border-bottom: solid 3px $c-green-darker;

    @include on-event() {
        color: #FFFFFF;
    }
}

.button.full {
    width: 100%;
}

.button.icon {
    padding-right: 47px;
    position: relative;

    i {
        @include vendor-prefixes(border-top-right-radius, 2px);
        background: $c-green-dark;
        height: 32px;
        width: 32px;
        padding: 0 8px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        svg {
            transform-origin: 0px 0px;
        }
    }
}

.button.blue {
    background-color: #00ADEF;
    border-color: #0084B5;
    i {
        background: #009EDA;
    }
}

.button.red {
    background-color: #F2706C;
    border-color: #C85C5A;
    i {
        background: #DB6663;
    }
}
