// -----------------------------------------------------------------------------
// This file contains all styles related to the categories component.
// -----------------------------------------------------------------------------

#main-content{
    display: flex;
    flex-direction: column;
}

#category-wrapper{
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#categories{
    display: flex;
    flex-grow: 1;
    min-height: 100%;
}

#category-tabs{
    background-color: #F1F1F2;
    border-right: 1px solid #DBDCDE;
    min-width: 200px;
    min-height: 100%;
}

#category-content{
    background-color: #FFFFFF;
    width: 100%;
    padding: 20px;
}

.c-horizontal-tabs{
    list-style: none;
    margin: 0;
    padding: 20px 0;
}

.c-horizontal-tab{
    font-size: 18px;
    font-weight: lighter;
    line-height: 60px;
    height: 60px;

    a, a:visited, a:hover, a:focus, a:active{
        color: inherit;
        border: none;
        text-decoration: none;
        display: block;
        padding: 0 20px;
    }
}

.c-horizontal-tab.is-active{
    background-color: #ffffff;
    margin-right: -1px;
    border-top: 1px solid #DBDCDE;
    border-bottom: 1px solid #DBDCDE;
}
