// -----------------------------------------------------------------------------
// This file contains all styles related to the order component.
// -----------------------------------------------------------------------------

#orders.version-1{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-grow: 1;

    .c-icon-tabs-wrapper{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        padding: 20px;
    }

    .c-icon-tabs{
        list-style: none;
        padding: 0;
        margin: 0;
        flex-grow: 0;
        padding-top: 20px;
        .c-icon-tab{
            color: #58585B;
            font-size: 26px;
            background-color: none;
            flex-grow: 1;
            height: 60px;
            width: 60px;
            min-width: 60px;
            max-width: 60px;
            line-height: 60px;
            text-align: center;
            @include vendor-prefixes(border-top-left-radius, 3px);
            @include vendor-prefixes(border-bottom-left-radius, 3px);
            a, a:visited, a:hover, a:focus, a:active{
                color: inherit;
                border: none;
                text-decoration: none;
                display: block;
            }
        }
        .c-icon-tab.is-active{
            background-color: #F1F1F2;
        }
    }

    .c-icon-tabs-content{
        flex-grow: 1;
        padding: 0 40px;
        max-width: 100%;
        overflow: scroll;
        background-color: #F1F1F2;
        @include vendor-prefixes(border-radius, 3px);
    }

    .c-order{
        @include vendor-prefixes(border-radius, 6px);
        background-color: #FFFFFF;
        min-width: 100%;
        display: inline-block;
        margin: 0 0 20px;
    }

    .c-order-header{
        @include vendor-prefixes(border-top-right-radius, 6px);
        @include vendor-prefixes(border-top-left-radius, 6px);
        color: #FFFFFF;
        line-height: 30px;
        padding: 0 20px;
        background-color: $c-red;
        min-height: 20px;
    }

    .c-order-header.green{
        background-color: $c-green;
    }

    .c-order-header.blue{
        background-color: #00ADEF;
    }

    .c-order-header.grey{
        background-color: #333333;
    }


    .c-order-products{
        min-width: 100%;
    }

    .c-order-product{
        border-bottom: 3px solid #F1F1F2;
    }

    .c-order-total{
        border-bottom: none;

        .c-order-product-cell{
            padding-top: 10px;
            font-size: 21px;
            line-height: 2em;
        }

        .c-order-cell-total{
            font-size: 18px;
            font-weight: bold;
        }
    }

    .c-order-container{
        padding: 20px;
    }

    .c-order-product-cell{
        white-space: nowrap;
        font-size: 16px;
        line-height: 40px;
        text-align: right;
        padding: 5px 5px;

        .button{
            padding: 1px 3px;
            line-height: 22px;
            vertical-align:text-top;
        }
    }

    .c-order-product-cell:first-child{
        text-align: left;
        padding-left: 20px;
    }

    .c-order-product-cell:last-child{
        text-align: right;
        padding-right: 20px;
    }

    .c-order-product-cell:first-child, .c-order-product-cell:last-child{

    }
}

.c-orders-container::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
.c-orders-container::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
}

/* Handle */
.c-orders-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}

#orders.version-2{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-grow: 1;
    background: #F0F0F0;

    .c-order-group-title{
        display: table;
        color: $c-red;
        font-size: 24px;
        font-weight: lighter;
        line-height: 1.5em;
        border-right: 2px solid $c-red;
        background-color: #FFFFFF;
        margin: 0;
        padding: 0 40px;
    }
    .c-order-group-title:first-child{
        margin-top: 20px;
    }
    .c-order-group-title.c-red{
      border-color: $c-red;
    }
    .c-order-group-title.c-green{
      border-color: $c-green;
    }
    .c-order-group-title.c-blue{
      border-color: $c-blue;
    }

    .c-order-container{
        padding-left: 20px;
        padding-right: 20px;
    }

    .c-orders-wrapper{
        padding: 20px;
        width: 100%;
    }

    .c-orders-container{
        display: flex;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        overflow-x: auto;
        padding-bottom: 20px;
    }

    .c-order{
        display: table;
        margin-right: 20px;
        padding: 20px 0;
        border-top: 2px solid $c-red;
        background-color: #FFFFFF;
    }

    .c-order.new{
        border-color: $c-red;
    }
    .c-order.finished{
        border-color: $c-green;
    }
    .c-order.payed{
        border-color: $c-blue;
    }

    .c-order-product{
        border-bottom: 1px solid #F0F0F0;
        font-size: 21px;
        line-height: 1.5em;
        .c-order-product-name{
            font-weight: lighter;
            min-width: 140px;
            padding: 5px 10px 5px 20px;
        }
        .c-order-product-amount{
            text-align: right;
            min-width: 80px;
            padding: 5px 20px 5px 10px;
        }
    }

    .c-order-total{
        font-size: 21px;
        line-height: 1.5em;
        .c-order-total-price{
            font-weight: normal;
            font-size: 24px;
            color: $c-green;
            min-width: 120px;
            padding: 25px 10px 15px 20px;
        }
        .c-order-total-amount{
            text-align: right;
            font-size: 24px;
            font-weight: bolder;
            min-width: 80px;
            padding: 25px 20px 15px 10px;
        }
    }

    .c-order-info{
        @extend .c-order-container;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 14px;
        .c-order-info-uuid{
            color: $c-green;
            margin: 0;
            padding: 0;
            margin-bottom: 5px;
        }
        .c-order-info-date{
            color: $c-grey;
            margin: 0;
            padding: 0;
        }
    }

    .c-order-note{
        @extend .c-order-container;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 14px;
        .c-order-note-title{
            color: $c-green;
            margin: 0;
            padding: 0;
            margin-bottom: 5px;
        }
        .c-order-note-content{
            margin: 0;
            padding: 0;
        }
    }

    .c-order-actions{
        @extend .c-order-container;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
