<header id="x💀x">
    <h1 class="title">Dashboard</h1>
</header>

<main id="x💩x" class="page-dashboard">

    <!-- Logo -->
    <section class="logo container">
        <img data-lol="lol" ng-hide="vm.bar().logo_uri == ''" alt="logo" ng-src="{{ vm.url }}{{ vm.bar().logo_uri }}" />
    </section>

    <!-- Bestellingen -->
    <section class="container" ng-show="vm.orders().length > 0">
        <div class="panel">
            <div class="content">
                <h2>Bestellingen</h2>
            </div>

            <article class="order" ng-repeat="order in vm.orders() track by $index">
                <h3 ng-show="order.uuid.uuid">#{{ order.uuid.uuid }}</h3>
                <h3 ng-hide="order.uuid.uuid">#{{ order.uuid }}</h3>
                <p ng-show="order.status == 0" class="status yellow">In verwerking</p>
                <p ng-show="order.status == 1" class="status green">Je mag je bestelling ophalen aan de bar</p>
                <p ng-show="order.status == 2" class="status">Opgehaald</p>
            </article>

        </div>
    </section>

    <!-- Tabs Pupulair / Promoties -->
    <section class="container">
        <div class="tabs-wrapper" ng-init="tab=1">
            <ul class="tabs-list">
                <li ng-class="{'active': tab == 1}"><a href ng-click="tab = 1">Populair</a></li>
                <li ng-class="{'active': tab == 2}"><a href ng-click="tab = 2">Promoties</a></li>
            </ul>
            <div ng-class="{'active': tab == 1}" class="tab-content">

                <div class="loader-wrapper" ng-show="vm.popular().loading">
                    <div class="loader"></div>
                </div>

                <!-- Product list -->
                <article class="product" ng-show="vm.popular().loading != true" ng-repeat="product in vm.popular()">
                  <section class="add-to-cart" ng-class="{counterzero: vm.product(product.id).amount == 0}">
                      <p class="amount">{{ vm.product(product.id).amount }}</p>
                      <section class="buttons">
                          <a href class="add" ng-click="vm.product(product.id).add()">+</a>
                          <a href class="subtract" ng-click="vm.product(product.id).subtract()">-</a>
                      </section>
                  </section>
                  <section class="info">
                      <h1 class="name">{{ product.name }}</h1>
                      <p ng-if="product.promoted" class="price promoted"><strike>€{{ product.price }}</strike> €{{ product.promoted_price }}</p>
                      <p ng-if="!product.promoted" class="price">€{{ product.price }}</p>
                  </section>
                </article>

            </div>
            <div ng-class="{'active': tab == 2}" class="tab-content">

                <div class="loader-wrapper" ng-show="vm.sales().loading">
                    <div class="loader"></div>
                </div>

                <!-- Product list -->
                <article class="product" ng-show="vm.sales().loading != true" ng-repeat="product in vm.sales()">
                  <section class="add-to-cart" ng-class="{counterzero: vm.product(product.id).amount == 0}">
                      <p class="amount">{{ vm.product(product.id).amount }}</p>
                      <section class="buttons">
                          <a href class="add" ng-click="vm.product(product.id).add()">+</a>
                          <a href class="subtract" ng-click="vm.product(product.id).subtract()">-</a>
                      </section>
                  </section>
                  <section class="info">
                      <h1 class="name">{{ product.name }}</h1>
                      <p ng-if="product.promoted" class="price promoted"><strike>€{{ product.price }}</strike> €{{ product.promoted_price }}</p>
                      <p ng-if="!product.promoted" class="price">€{{ product.price }}</p>
                  </section>
                </article>

            </div>
        </div>
    </section> <!-- End Tabs -->
</main>

<!-- <nav id="x👀x" ng-include="'html/parts/navigation.html'"></nav> -->
