<main id="x💩x" class="page-oops">

    <section class="svg">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 136 136" enable-background="new 0 0 136 136" xml:space="preserve">
            <circle opacity="0.2" fill="#71B9AA" cx="68" cy="68" r="68"/>
            <g>
            	<circle fill="#71B9AA" cx="68" cy="68.002" r="51.033"/>
            	<g>
            		<defs>
            			<circle id="SVGID_1_" cx="68" cy="68.002" r="51.033"/>
            		</defs>
            		<clipPath id="SVGID_2_">
            			<use xlink:href="#SVGID_1_"  overflow="visible"/>
            		</clipPath>
            		<g clip-path="url(#SVGID_2_)">
            			<path fill="#E6E6E6" d="M134.305,103.019C132.5,82.771,106.11,74.347,88.379,71.617c-5.028-0.776-18.595,13.822-21.171,14.758
            				c-2.579-0.936-14.438-15.558-19.196-14.854C30.283,74.149,3.272,82.524,1.449,103.019h-0.1v26.223h133.055v-26.223H134.305z"/>
            			<path fill="#E6E6E6" d="M89.116,64.583C79.179,71.119,67.91,81.144,67.91,81.144S56.639,71.119,46.703,64.583
            				c0,0-4.097,2.878-8.543,9.678l29.75,25.622l29.75-25.622C93.212,67.461,89.116,64.583,89.116,64.583z"/>
            			<path fill="#D1D1D2" d="M116.744,120.133c-6.513-21.322-7.548-34.046-7.544-39.986c-3.372-1.421-6.883-2.583-10.343-3.523
            				c0,0,0-0.004,0.004-0.004c-0.119-0.031-0.234-0.06-0.354-0.091c-0.442-0.12-0.889-0.235-1.326-0.346
            				c-0.199-0.048-0.395-0.1-0.589-0.147c-0.18-0.044-0.362-0.091-0.542-0.136c0,0.005,0,0.005,0,0.005
            				c-0.362-0.084-0.725-0.176-1.079-0.255C87.369,81.637,67.91,98.791,67.91,98.791S48.45,81.637,40.847,75.65
            				c-0.358,0.079-0.721,0.171-1.079,0.259V75.9c-0.215,0.053-0.43,0.108-0.643,0.16c-0.133,0.035-0.267,0.067-0.4,0.104
            				c-0.514,0.127-1.027,0.263-1.541,0.402c-0.076,0.02-0.151,0.035-0.227,0.055c0.002,0,0.002,0,0.002,0.004
            				c-3.459,0.94-6.968,2.103-10.338,3.523c0.002,5.94-1.033,18.664-7.55,39.986h24.945c0,0-2.333-27.708-3.842-40.897
            				c10.442,8.631,27.736,23.938,27.736,23.938s17.29-15.307,27.735-23.938c-1.509,13.189-3.841,40.897-3.841,40.897H116.744z"/>
            			<path fill="#434854" d="M119.359,120.017c-6.863-22.464-7.95-35.872-7.95-42.126c-3.551-1.5-7.249-2.723-10.896-3.714
            				c0,0,0,0,0.004,0c-0.123-0.036-0.246-0.063-0.37-0.095c-0.47-0.128-0.936-0.252-1.401-0.367c-0.207-0.056-0.41-0.104-0.617-0.155
            				c-0.19-0.048-0.382-0.095-0.569-0.144c0,0.005-0.004,0.005-0.004,0.005c-0.378-0.088-0.76-0.184-1.135-0.271
            				C88.408,79.459,67.91,97.529,67.91,97.529S47.412,79.459,39.397,73.15c-0.376,0.087-0.756,0.183-1.137,0.271l-0.002-0.005
            				c-0.223,0.053-0.45,0.112-0.677,0.168c-0.139,0.035-0.279,0.071-0.42,0.107c-0.539,0.135-1.081,0.274-1.624,0.422
            				c-0.08,0.023-0.157,0.04-0.237,0.063l0,0c-3.643,0.991-7.341,2.214-10.892,3.714c0.002,6.254-1.086,19.663-7.952,42.126h26.278
            				c0,0-2.458-29.192-4.046-43.086c11.003,9.093,29.221,25.221,29.221,25.221s18.217-16.127,29.22-25.221
            				c-1.589,13.895-4.048,43.086-4.048,43.086H119.359z"/>
            			<g>
            				<path fill="#BEBFC0" d="M65.409,106.593c0-1.377,1.119-2.496,2.5-2.496s2.5,1.119,2.5,2.496c0,1.382-1.118,2.501-2.5,2.501
            					S65.409,107.975,65.409,106.593z"/>
            				<path fill="#ABADAE" d="M65.891,106.593c0-1.114,0.903-2.018,2.019-2.018c1.114,0,2.019,0.904,2.019,2.018
            					c0,1.119-0.904,2.022-2.019,2.022C66.794,108.616,65.891,107.712,65.891,106.593z"/>
            				<path fill="#BEBFC0" d="M66.167,106.593c0-0.959,0.778-1.739,1.742-1.739c0.962,0,1.741,0.78,1.741,1.739
            					c0,0.964-0.779,1.744-1.741,1.744C66.946,108.337,66.167,107.557,66.167,106.593z"/>
            				<circle fill="#E6E6E6" cx="67.448" cy="106.131" r="0.302"/>
            				<path fill="#E6E6E6" d="M68.371,105.829c0.167,0,0.303,0.14,0.303,0.303c0,0.168-0.136,0.303-0.303,0.303
            					c-0.167,0-0.302-0.135-0.302-0.303C68.069,105.968,68.204,105.829,68.371,105.829z"/>
            				<circle fill="#E6E6E6" cx="68.372" cy="107.059" r="0.303"/>
            				<circle fill="#E6E6E6" cx="67.448" cy="107.059" r="0.303"/>
            			</g>
            			<g>
            				<path fill="#BEBFC0" d="M65.409,114.588c0-1.382,1.119-2.501,2.5-2.501s2.5,1.119,2.5,2.501c0,1.377-1.118,2.496-2.5,2.496
            					S65.409,115.965,65.409,114.588z"/>
            				<path fill="#ABADAE" d="M65.891,114.588c0-1.115,0.903-2.023,2.019-2.023c1.114,0,2.019,0.908,2.019,2.023
            					c0,1.114-0.904,2.018-2.019,2.018C66.794,116.606,65.891,115.702,65.891,114.588z"/>
            				<path fill="#BEBFC0" d="M66.167,114.588c0-0.964,0.778-1.744,1.742-1.744c0.962,0,1.741,0.78,1.741,1.744
            					c0,0.959-0.779,1.739-1.741,1.739C66.946,116.327,66.167,115.547,66.167,114.588z"/>
            				<path fill="#E6E6E6" d="M67.145,114.126c0-0.167,0.135-0.303,0.303-0.303c0.167,0,0.302,0.136,0.302,0.303
            					c0,0.163-0.135,0.302-0.302,0.302C67.28,114.428,67.145,114.289,67.145,114.126z"/>
            				<path fill="#E6E6E6" d="M68.371,113.823c0.167,0,0.303,0.136,0.303,0.303c0,0.163-0.136,0.302-0.303,0.302
            					c-0.167,0-0.302-0.139-0.302-0.302C68.069,113.959,68.204,113.823,68.371,113.823z"/>
            				<circle fill="#E6E6E6" cx="68.372" cy="115.049" r="0.303"/>
            				<circle fill="#E6E6E6" cx="67.448" cy="115.049" r="0.302"/>
            			</g>
            			<g>
            				<path fill="#7CCBB9" d="M88.893,85.717c-4.47,0.123-8.77,0.916-12.806,2.281c-2.839,0.964-5.543,2.206-8.086,3.703
            					c-2.54-1.497-5.247-2.735-8.085-3.699c-4.035-1.369-8.334-2.162-12.803-2.285c-0.78,2.257-1.206,4.677-1.206,7.202
            					c0,2.52,0.426,4.94,1.206,7.197c4.469-0.123,8.768-0.916,12.803-2.281c2.838-0.963,5.545-2.205,8.085-3.702
            					c2.542,1.497,5.247,2.739,8.086,3.702c4.037,1.369,8.336,2.158,12.806,2.281c0.776-2.257,1.202-4.677,1.202-7.197
            					C90.095,90.395,89.669,87.975,88.893,85.717z"/>
            				<path fill="#71B9AA" d="M68.001,91.701c-2.477-1.457-5.111-2.672-7.873-3.627c-0.875,1.405-1.383,3.065-1.383,4.845
            					c0,1.776,0.507,3.436,1.383,4.841c2.761-0.956,5.396-2.17,7.873-3.627c2.432,1.433,5.016,2.628,7.724,3.575
            					c0.855-1.394,1.349-3.034,1.349-4.79c0-1.756-0.494-3.396-1.349-4.793C73.017,89.073,70.433,90.271,68.001,91.701z"/>
            				<path fill="#7CCBB9" d="M61.749,92.919c0-3.403,2.757-6.163,6.161-6.163c3.403,0,6.159,2.759,6.159,6.163
            					c0,3.4-2.756,6.159-6.159,6.159C64.506,99.078,61.749,96.319,61.749,92.919z"/>
            			</g>
            			<g>
            				<path fill="#434854" d="M68.037,45.629c0,0-2.582-2.91-7.269-2.301c-6.33,0.828-7.189,6.242-7.715,7.424
            					c-0.53,1.187-1.66,2.193-2.875,2.114c-1.031-0.068-2.02-0.74-1.923-2.051c0.064-0.855,0.733-1.302,1.553-1.198
            					c0.776,0.104,0.88,1.15,0.351,1.394c0,0,0.647-0.259,0.661-1.111c0.004-0.33-0.131-0.855-0.71-1.158
            					c-1.678-0.875-4.07,0.776-4.07,3.236c0,1.935,1.777,8.738,11.917,7.167C68.095,57.571,68.742,48.833,68.037,45.629z"/>
            				<path fill="#434854" d="M67.965,45.629c0,0,2.582-2.91,7.269-2.301c6.33,0.828,7.189,6.242,7.719,7.424
            					c0.525,1.187,1.656,2.193,2.871,2.114c1.031-0.068,2.022-0.74,1.923-2.051c-0.063-0.855-0.732-1.302-1.553-1.198
            					c-0.776,0.104-0.88,1.15-0.351,1.394c0,0-0.645-0.259-0.661-1.111c-0.004-0.33,0.132-0.855,0.713-1.158
            					c1.676-0.875,4.069,0.776,4.069,3.236c0,1.935-1.776,8.738-11.915,7.167C67.907,57.571,67.26,48.833,67.965,45.629z"/>
            			</g>
            		</g>
            	</g>
            </g>
        </svg>
    </section>

    <h2 class="center">
        Oops!
    </h2>

    <h4 class="center">
        Scan de QR code opnieuw
    </h4>

</main>
